header {
  height: 400px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-container {
  display: flex;
  border: 2px solid black;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.flex-container > div {
  flex: 1;
}

.flex-container > .about {
  flex: 2;
}

/* ! Shifting div's with margin-left auto */
/* .about {
  margin-left: auto;
} */

/* .logout {
  margin-left: auto;
} */

/* ! Content layout across the flexbox */
/* 
justify-content: 
flex-start flex-end center space-around
space-between space-evenly
*/
